// colors
$primary: rgba(255, 214, 0, 1);
$dark-primary: rgba(212, 163, 115, 1);
$dark: #212529;
$grey: #EFEFEF;
$dark-grey: #21262b;
$light: #fff;
$black: #000;
$darkCloser: #373333c4;
$danger: #ff2cb5;

// screen sizes
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 440px;

// fonts
$sans: "Open Sans", sans-serif;